<div class="container">

	<div class="section">
	  <form class="form" [formGroup]="form">
	    <h1>Nutzer hinzufügen</h1>
	    <mat-form-field class="form-group" appearance="fill">
	      <mat-label>Vorname</mat-label>
	      <input matInput formControlName="firstName" type="text">
	    </mat-form-field>

	    <mat-form-field class="form-group" appearance="fill">
	      <mat-label>Nachname</mat-label>
	      <input matInput formControlName="lastName" type="text">
	    </mat-form-field>

		<mat-form-field class="form-group" appearance="fill">
			<mat-label>Alter</mat-label>
			<input matInput #age formControlName="age" maxlength="3">
		  </mat-form-field>
	  </form>

	  <button class="btn" type="submit" mat-stroked-button [disabled]="form.invalid" color="accent" (click)="newUser()"><mat-icon>save</mat-icon><span>Anlegen</span></button>
	</div>

	<!--<form [formGroup]="form" >
		<div class="form-group">
			Vorname:
			<input formControlName="firstName" type="text" class="form-control">
			<div *ngIf="checkValid('firstName')?.errors?.required" class="error">
				Vorname wird benötigt
			</div>
			<div *ngIf="checkValid('firstName')?.errors?.minlength" class="error">
				Vorname muss 3 zeichen Lang sein
			</div>
			<div *ngIf="checkValid('firstName')?.errors?.maxlength" class="error">
					Vorname darf nicht länger als 3 zeichen sein
			</div>
			<div *ngIf="checkValid('firstName')?.errors?.pattern" class="error">
				Vorname darf nur aus Buchstaben bestehen
			</div>
		</div>
		<div class="form-group">
			<label for="lastName">Nachname: </label>
			<input formControlName="lastName" id="lastName" type="text" class="form-control">
				<div *ngIf="checkValid('lastName')?.errors?.required" class="error">
					Nachname wird benötigt
				</div>
				<div *ngIf="checkValid('lastName')?.errors?.minlength" class="error">
					Nachname muss 3 zeichen Lang sein
				</div>
				<div *ngIf="checkValid('lastName')?.errors?.maxlength" class="error">
					Nachname darf nicht länger als 3 zeichen sein
				</div>
				<div *ngIf="checkValid('lastName')?.errors?.pattern" class="error">
					Nachname darf nur aus Buchstaben bestehen
				</div>
		</div>
		<div class="form-group">
			<label for="age">Alter: </label>
			<input formControlName="age" id="age" type="text" class="form-control">
				<div *ngIf="checkValid('age')?.errors?.required" class="error">
					Alter wird benötigt
				</div>
				<div *ngIf="checkValid('age')?.errors?.maxlength" class="error">
					Alter darf nur 3 Zeichen lang sein
				</div>
				<div *ngIf="checkValid('age')?.errors?.pattern" class="error">
					Alter darf nur aus Zahlen bestehen
				</div>
				<div *ngIf="checkValid('age')?.errors?.max" class="error">
					Bist du wirklich so alt?
				</div>
				<div>
					<button mat-stroked-button type="button" [disabled]="form.invalid" (click)="newUser()">Anlegen</button>
				</div>
		</div>
	</form>-->

	<div class="section">
		<h1>Alle Einträge</h1>

		<!--<table mat-table [dataSource]="users">
			
		</table>-->
		<table *ngIf="users.length > 0" cellspacing="0">
			<tr>
			  <th>UUID</th>
			  <th>Vorname</th>
			  <th>Nachname</th>
			  <th>Alter</th>
			  <th></th>
			</tr>
		  
			<tr *ngFor="let user of users">
			  <td>{{user?.id}}</td>
			  <td>{{user?.firstName}}</td>
			  <td>{{user?.lastName}}</td>
			  <td>{{user?.age}}</td>
			  <td>
				<button mat-icon-button color="warn" (click)="delUser(user.id)">
					<mat-icon>delete</mat-icon>
				</button>
				</td>
			</tr>
			
		  </table>

		  <div class="error404" *ngIf="users.length < 1">
			<span>Keine Einträge gefunden</span>
		</div>
	</div>

</div>