<hr />
<div>

	<form [formGroup]="form" >
		<div class="form-group">
			Vorname:
			<input formControlName="firstName" type="text" class="form-control">
			<div *ngIf="checkValid('firstName')?.errors?.required" class="error">
				Vorname wird benötigt
			</div>
			<div *ngIf="checkValid('firstName')?.errors?.minlength" class="error">
				Vorname muss 3 zeichen Lang sein
			</div>
			<div *ngIf="checkValid('firstName')?.errors?.maxlength" class="error">
					Vorname darf nicht länger als 3 zeichen sein
			</div>
			<div *ngIf="checkValid('firstName')?.errors?.pattern" class="error">
				Vorname darf nur aus Buchstaben bestehen
			</div>
		</div>
		<div class="form-group">
			<label for="lastName">Nachname: </label>
			<input formControlName="lastName" id="lastName" type="text" class="form-control">
				<div *ngIf="checkValid('lastName')?.errors?.required" class="error">
					Nachname wird benötigt
				</div>
				<div *ngIf="checkValid('lastName')?.errors?.minlength" class="error">
					Nachname muss 3 zeichen Lang sein
				</div>
				<div *ngIf="checkValid('lastName')?.errors?.maxlength" class="error">
					Nachname darf nicht länger als 3 zeichen sein
				</div>
				<div *ngIf="checkValid('lastName')?.errors?.pattern" class="error">
					Nachname darf nur aus Buchstaben bestehen
				</div>
		</div>
		<div class="form-group">
			<label for="age">Alter: </label>
			<input formControlName="age" id="age" type="text" class="form-control">
				<div *ngIf="checkValid('age')?.errors?.required" class="error">
					Alter wird benötigt
				</div>
				<div *ngIf="checkValid('age')?.errors?.maxlength" class="error">
					Alter darf nur 3 Zeichen lang sein
				</div>
				<div *ngIf="checkValid('age')?.errors?.pattern" class="error">
					Alter darf nur aus Zahlen bestehen
				</div>
				<div *ngIf="checkValid('age')?.errors?.max" class="error">
					Bist du wirklich so alt?
				</div>
				<div>
					<button class="btn" type="submit" [disabled]="form.invalid" (click)="newUser()">Anlegen</button>
				</div>
				<!--
				<div>
					<button class="btn" type="submit"  (click)="schowUser()">Alle Nutzer Anzeigen</button>
				</div>
				-->

		</div>
	</form>

	<div *ngIf="users.length" >
		<div *ngFor="let user of users" >
			{{user.id}}	{{user.firstName}}	{{user.lastName}}	{{user.age}} 
		</div>
	</div>
	<div *ngIf="users.length < 1" >
		<p>No users found.</p>
	</div>

</div>